<!DOCTYPE html>
<html>
<head>
    <title>Exercício 2</title>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
    <body>
        <div class="wrapper">
            @RenderPage("~/shared/_header.cshtml")

            @RenderBody()

            @RenderPage("~/shared/_footer.cshtml")
        </div>
    </body>
</html>
