<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <form action="~/pagina2.cshtml" method="post">

        <p>Qual é a capital de Portugal?</p>


        <input type="radio" name="pergunta1" value="paris" />Paris<br />
        <input type="radio" name="pergunta1" value="lisboa" />Lisboa<br />
        <input type="radio" name="pergunta1" value="madrid" />Madrid<br /><br />
        <input type="submit" name="submit" value="Avançar" />


         

    </form>

</body>
</html>
