@{
    <header>
        <table>
            <tr>
                <td><a href="~/index.cshtml">Home</a></td>
                <td><a href="~/contacts.cshtml">Contacts</a></td>
                <td><a href="~/About.cshtml">About</a></td>
            </tr>
        </table>
    </header>
}

