<!DOCTYPE html>
<html>
    <head>
        <title>Exercício 1</title>
    </head>
    <body>
        <!--HEADER-->
        @RenderPage("_header.cshtml")

        <!--BODY-->
        @RenderBody()

        <!--FOOTER-->
        @RenderPage("_footer.cshtml")
    </body>
</html>
