@{


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Apresentação de blocos de conteúdo.</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <!-- CABEÇALHO -->
    <h1>Cabeçalho da Página</h1>
    <hr />

    @RenderBody()

    <!-- RODAPÉ -->
    <h1>Rodapé da Página</h1>
    <hr />

</body>
</html>

